<div class="stats-row">
    <i class="fa fa-fw fa-hashtag"></i>
    <span class="stats-label">Moves so far: </span>
    {{index}}
</div>
<div class="stats-row {{connectionsClass}}">
    <i class="fas fa-fw fa-project-diagram"></i>
    <span class="stats-label">Options tried: </span>
    {{connectionsRatio}}
</div>
<div class="stats-row {{solvedClass}}">
    <i class="fa fa-fw fa-star"></i>
    <span class="stats-label">Solved pieces: </span>
    {{solvedRatio}}
</div>